@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-color: #000;
    // size/line-height family
    font: 17px/1.4 "orbitron";
    // 글자간의 간격
    letter-spacing: 1px;
    color: #ddd;
}

.wrap {
    // full screen
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // 
    position: relative;
    // 자식요소에 3d 적용할거라 원근감 추가
    perspective: 1450px;

    > video {
        // video - full screen
        width: 100%;
        height: 100%;
        // 
        object-fit: cover;
        // 포지션 지정
        position: absolute;
        top: 0px;
        left: 0px;
        // 배경 비디오를 좀 어둡게
        opacity: 0.5;
    }

    // 828px(translateZ) : article 사이의 거리값

    #circle {
        width: 650px;
        height: 600px;
        position: absolute;
        // 화면 정중앙 즈음에 위치시키도록
        top: 50%;
        left: 50%;
        margin-left: -275px;
        margin-top: -310px;
        // 원근감과 애니메이션이 서로 간섭이 안 생기도록
        transform-style: preserve-3d;
        // animation
        animation: ani linear 60s infinite;

        // article 공통부분
        article {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            backface-visibility: hidden;

            // 공통 h1 부분
            h1 {
                position: absolute;
                top: 0px;
                left: 0px;
                font-size: 30px;
                color: lightcyan;
                letter-spacing: 1px;
                text-shadow: 0px 0px 10px aqua;
                // hover하기 전에는 안 보이도록
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                h1 {
                    top: -40px;
                    opacity: 1;
                }
            }

            // 공통 ui
            .inner {
                width: 100%;
                height: 100%;

                >div {
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba(255,255,255,0.5);
                    background-color: rgba(255,255,255,0.2);
                    // border 처리로 인해서 부모요소 밖으로 튀어나오므로 안쪽으로 생기도록 처리
                    box-sizing: border-box;
                    padding: 25px;
                    position: relative;
                    overflow: hidden;
                    // 마우스 올리면 손바닥 모양으로 변경
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 0.5s;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.03);
                    }
                }
            }

            // 첫 번째 article
            &.face1 {
                transform: rotateY(0deg) translateZ(-820px);
                .inner {
                    div{
                        width: 315px;
                        height: 190px;
                        float: left;
                        margin-bottom: 20px;
                        text-align: center;
                        i {
                            color: lightcyan;
                            text-shadow: 0px 0px 10px aqua;
                            font-size: 100px;
                            opacity: 0.7;
                            transition: 0.5s;
                        }
                        h2 {
                            margin-top: 20px;
                            letter-spacing: 1px;
                            color: lightcyan;
                            transition: 0.5s;
                        }
                        &:hover {
                            i {
                                text-shadow: 0px 0px 10px aqua;
                                transform: scale(1.2);
                                opacity: 1;
                            }
                            h2 {
                                text-shadow: 0px 0px 10px aqua;
                                transform: scale(1.2);
                                opacity: 1;
                            }
                        }
                        &:nth-of-type(odd) {
                            margin-right: 20px;
                        }
                    }
                }
            }
            
            // 두 번째 article
            &.face2 {
                transform: rotateY(45deg) translateZ(-820px);

                .inner {
                    div {
                        h2 {
                            font: bold 24px/1 "Orbitron";
                            color: lightcyan;
                            transition: 0.5s;
                        }
                        img {
                            width: 100%;
                            margin-top: 30px;
                            margin-bottom: 40px;
                        }
                        h3 {
                            font: bold 20px/1 "Orbitron";
                            color: lightcyan;
                            margin-bottom: 20px;
                            transition: 0.5s;
                        }
                        p {
                            font: normal 18px/1.3 "arial";
                            color: #ccc;
                        }

                        &:hover {
                            h2, h3 {
                                color: lightcyan;
                                text-shadow: 0px 0px 10px aqua;
                            }
                        }
                    }
                }
            }

            // 세 번째 article
            &.face3 {
                transform: rotateY(90deg) translateZ(-820px);

                .inner {
                    > div {
                        width: 100%;
                        height: 190px;
                        margin-bottom: 10px;
                        // pic에 float처리를 위해 감싸는 부분인 div에 float처리
                        // 공식 수준이라 암기!
                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        .pic {
                            width: 120px;
                            height: 120px;
                            overflow: hidden;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            float: left;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .con {
                            width: 300px;
                            float: right;

                            h2 {
                                color: #fff;
                                font: 22px/1 "Orbitron";
                                margin-bottom: 10px;
                            }

                            p {
                                font: 20px/1.1 "arial";
                                color: #ddd;
                                margin-bottom: 10px;
                            }

                            span {
                                font: 15px/1 "Orbitron";
                                color: aqua;
                            }
                        }
                    }
                }
            }

            // 네 번째 article
            &.face4 {
                transform: rotateY(135deg) translateZ(-820px);

                .inner {
                    div {
                        &:nth-of-type(1) {
                            width: 100%;
                            height: 500px;
                            margin-bottom: 20px;

                            video {
                                width: 100%;
                                border: 1px solid #fff;
                                margin-bottom: 10px;
                            }

                            h2 {
                                font-size: 25px;
                                margin-bottom: 15px;
                            }

                            p {
                                font: 15px/1.3 "arial";
                                color: #ddd;
                            }
                        }

                        &:nth-of-type(2) {
                            width: 100%;
                            height: 150px;

                            h2 {
                                font-size: 25px;
                                margin-bottom: 15px;
                            }

                            p {
                                font: 15px/1.1 "arial";
                                color: #ddd;
                            }

                            em {
                                font: bold 15px/1 "Orbitron";
                                color: aqua;
                            }
                        }
                    }
                }
            }

            // 다섯 번재 article
            &.face5 {
                transform: rotateY(180deg) translateZ(-820px);

                .inner {

                    // 전체 테두리 div
                    div {
                        // 이미지들 모두 아래쪽 마진값 설정
                        img{
                            margin-bottom: 25px;
                        }

                        .pic {
                            width: 100%;
                            height: 250px;
                            border: 1px solid #bbb;
                            box-sizing: border-box;
                            background-color: #000;
                            margin-bottom: 30px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .reflect {
                            position: absolute;
                            // 화면 아래쪽에 배치
                            top: 100%;
                            right: 0%;
                            transition: 0.5s;
                        }

                        &:hover {
                            .reflect {
                                top: -40%;
                            }
                        }
                    }
                }
            }

            // 여섯 번째 article
            &.face6 {
                transform: rotateY(225deg) translateZ(-820px);
                
                .inner {
                    >div {
                        width: 100%;
                        height: 150px;
                        margin-bottom: 10px;

                        // 암기공식마냥 사용(float사용을 위한 설정)
                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        i {
                            // i태그의 틀의 크기 지정
                            width: 22%;
                            height: 100%;
                            float: left;
                            // font 크기
                            font-size: 70px;
                            color: #fff;
                            text-align: left;
                            // 아이콘 세부 위치 조정
                            box-sizing: border-box;
                            padding-top: 15px;
                            padding-left: 30px;
                            // transition
                            transition: 0.5s;
                        }

                        .con {
                            // div.con의 틀의 크기 지정
                            width: 75%;
                            height: 100%;
                            padding-left: 25px;
                            box-sizing: border-box;
                            float: right;

                            h2 {
                                font: bold 25px/1 "orbitron";
                                margin-bottom: 20px;
                                letter-spacing: 1px;
                                transition: 0.5s;
                                // transform 기준점을 왼쪽 세로중앙에 위치시킴
                                transform-origin: left center;
                            }

                            p {
                                font: 15px/1 "arial";
                                color: #ddd;
                            }
                        }

                        &:hover {
                            i {
                                transform: scale(1.2);
                                color: lightcyan;
                                text-shadow: 0px 0px 10px aqua;
                            }

                            .con h2 {
                                transform: scale(1.2);
                                color: lightcyan;
                                text-shadow: 0px 0px 10px aqua;
                            }
                        }
                    }
                }
            }

            // 일곱 번째 article
            &.face7 {
                transform: rotateY(270deg) translateZ(-820px);

                div > div {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #aaa;
                    box-sizing: border-box;
                    // position 기준점 설정
                    position: relative;
                    overflow: hidden;

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.9;
                    }
                    
                    h2 {
                        position: absolute;
                        top: 100px;
                        left: 50px;
                        font-size: 35px;
                        color: #fff;
                        text-align: left;
                        text-shadow: 0px 0px 10px #555;
                    }

                    img {
                        &:nth-of-type(1) {
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                        }
                        &:nth-of-type(2) {
                            position: absolute;
                            bottom: 80px;
                            right: -15px;
                            width: 90%;

                        }
                    }
                }
            }

            // 여덟 번째 article
            &.face8 {
                transform: rotateY(315deg) translateZ(-820px);

                .inner {
                    div {
                        // 1번째 div
                        &:nth-of-type(1) {
                            width: 100%;
                            height: 300px;
                            margin-bottom: 10px;

                            i {
                                color: #fff;
                                font-size: 180px;
                                position: absolute;
                                bottom: 50px;
                                left: 50px;
                                opacity: 0.8;
                                transition: 0.5s;
                            }

                            span {

                                font: bold 100px/1 "orbitron";
                                position: absolute;
                                bottom: 80px;
                                right: 80px;

                                strong {

                                    font-size: 30px;
                                    position: relative;
                                    top: -60px;

                                }
                            }
                        }

                        // 2번째 3번째 div 그룹화
                        &:nth-of-type(2), &:nth-of-type(3) {
                            width: 320px;
                            height: 300px;
                            margin-right: 10px;
                            float: left;
                            text-align: center;

                            i {
                                font-size: 120px;
                                color: #fff;
                                opacity: 0.8;
                                transition: 0.5s;
                            }

                            h3 {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                font: bold 20px/1 "orbitron";
                            }

                            p {
                                font: 15px/1 "arial";
                                color: #ccc;
                                margin-bottom: 35px;
                            }

                            span {
                                font: 30px/1 "orbitron";
                                color: #ddd;

                                strong {
                                    font-size: 12px;
                                    position: relative;
                                    top: -16px;
                                }
                            }
                        }

                        &:nth-of-type(3) {
                            margin-right: 0;
                        }

                        &:hover {
                            i {
                                transform: scale(1.2);
                                color: lightcyan;
                                text-shadow: 0px 0px 10px aqua;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes ani {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}